<% pageTitle = "Welcome"; %>
<%- include('layout/header')-%>

<% if ( currentState ) {%>
<div class="nav-wrapper" role="navigation">
    <div class="nav-brand">
        <img src="images/brand.png" alt="brand" width="35px" height="35px">
        <a href="/"><span class="ndiafia-brand">NdiAfia</span></a>
    </div>
    <div class="nav-bar">
        <div class="nav-item"><a href="/" id="homeLink">Home</a> </div>
    </div>

    <div class="dropdown">
        <a class="profileLink" role="button" onclick="openProfileMenu()" ondblclick="closeProfileMenu()">
            <div class="nav-item display-spacing">
                <%= userInfo.name %>
            </div>
            <div class="nav-item placeImage">
                <% if (userInfo.photoURL == null) {%>
                <img src="images/imagePlaceholder.png" alt="" width="30px" height="30px">
                <%}else{%>
                <img src="<%= userInfo.photoURL %>" alt="" width="30px" height="30px">
                <%}%>
            </div>
        </a>
        <div id="myDropdown" class="dropdown-content" onclick="closeProfileMenu()">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="/logout">Log Out</a>
            <a style="color:gray;">Close</a>
        </div>
    </div>

</div>
<%} else {%>

<div class="nav-wrapper" role="navigation">
    <div class="nav-brand">
        <img src="images/brand.png" alt="brand" width="35px" height="35px">
        <a href="/"><span class="ndiafia-brand">NdiAfia</span></a>
    </div>
    <div class="nav-bar">
        <div class="nav-item"><a href="/" id="homeLink" role="menuitem">Home</a> </div>
        <div class="nav-item"><a href="/login" id="loginLink" role="menuitem">Log In</a> </div>
        <div class="nav-item"><a href="/register" id="registerLink" role="menuitem">Register</a> </div>
    </div>
</div>
<%}%>

<div class="form-wrapper">
    <div class="" style="color:#ff0000;padding-bottom:10px;">
        <% if (errorMsg !== null || errorMsg !== " "){%>
        <%= errorMsg %>
        <%}%>
    </div>
    <form action="/update-profile" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="loginEmail" value="<%= userInfo.email %>" disabled>

        <label for="firstName">Display Name</label>
        <input type="text" name="fullName" id="fullName" value="<%= userInfo.fname %>">

        <label for="phoneNumber">Phone Number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" value="<%= userInfo.phoneNumber %>">

        <label for="photoURL">Photo URL</label>
        <input type="text" name="photoURL" id="photoURL" value="<%= userInfo.photoURL %>">

        <button class="btne" style="margin-bottom:14px;">
            Update Profile
        </button>
    </form>

</div>

<div class="form-wrapper" style="padding-top:4px;">
<button type="button" class="btne" data-toggle="modal" data-target="#exampleModalCenter">
    Delete Account
</button>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:orange;">
                <h6 class="modal-title" id="exampleModalCenterTitle">Delete Account</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>This operation cannot be recovered. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btne" data-dismiss="modal">Close</button>
                <form action="/delete-profile" method="post">
                <button type="submit" class="btne">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>





<%- include('layout/footer') -%>